<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Ingeniería Técnica en Informática de Sistemas</h3> - <h4>(2014-2019)</h4>
                </li>
                <p>
                    Graduado con la nota más alta de la generación.
                    3er lugar en el Hackaton CodeFest 2014.
                    Creador del blog www.codigoinfinito.com, especializado en consejos de programación y seguridad web.
                    Ganador de la beca de Excelencia Académica 2012.
                </p>
        </ul>
        <ul>
            <li>
                <h3>Tec. en Telecomunicaciones, Universidad de Tandil</h3> - <h4>(2010-2014)</h4>
                </li>
                <p>
                    Capacitado/a para definir, diseñar y gestionar proyectos tecnológicos apoyados en el uso de plataformas profesionales y avanzadas creando redes de interconexión de los objetos con Internet 
                </p>
        </ul>
         
    </div>
</div>