<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Analista – Programador, Servicios Técnicos IT</h3> - <h4>(2018 – Presente)</h4>
                </li>
                <p>
                    Escribí el código una página web con la capacidad de recibir a más de un millón de usuarios diariamente.
Responsable de crear un comparador de tarjetas de crédito que elevó las ventas de producto en un 15%.
                </p>
        </ul>
        <ul>
            <li>
                <h3> Programador Full Stack, Finanbest, Rosario</h3> - <h4>(12/2014 - 10/2018)</h4>
                </li>
                <p>
                    Desarrollo Front End y Back End de aplicaciones con Typescript, Javascript, PHP, MySQL, HTML5
                    Realización de test de aplicaciones
                    Solución de incidencias.
                </p>
        </ul>
        <ul>
            <li>
                <h3> Programadora web, Sistemas Informáticos SL, Buenos Aires</h3> - <h4>(07/2011 - 12/2014)</h4>
                </li>
                <p>
                    Desarrollo de aplicaciones web para clientes de la empresa del sector financiero utilizando Javascript, PHP
                    Mantenimiento de aplicaciones web
                    Maquetación HTML5, CSS3, Bootstrap
                    Manejo de datos XML, JSON 
                </p>
        </ul>
    
    </div>
</div>