<div class="row">
    <h1>Habilidades</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-3">
        <h3>HTML</h3>
        <circle-progress
        [percent]="80"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="0"
        [outerStrokeColor]="'#A9D0F5'"
        [innerStrokeColor]="'#A9F5F2'"
        [animation]="true"
        [animationDuration]="300"
        [responsive]="true"
        [startFromZero]="true"
        [showTitle]="true"
        [showBackground]="true"
        [unitsColor]="'#FAFAFA'"
        [titleColor]="'#FAFAFA'"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <h3>CSS</h3>
        <circle-progress
        [percent]="70"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="0"
        [outerStrokeColor]="'#A9D0F5'"
        [innerStrokeColor]="'#A9F5F2'"
        [animation]="true"
        [animationDuration]="300"
        [responsive]="true"
        [startFromZero]="true"
        [showTitle]="true"
        [showBackground]="true"
        [unitsColor]="'#FAFAFA'"
        [titleColor]="'#FAFAFA'"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <h3>JAVASCRIPT</h3>
        <circle-progress
        [percent]="55"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="0"
        [outerStrokeColor]="'#A9D0F5'"
        [innerStrokeColor]="'#A9F5F2'"
        [animation]="true"
        [animationDuration]="300"
        [responsive]="true"
        [startFromZero]="true"
        [showTitle]="true"
        [showBackground]="true"
        [unitsColor]="'#FAFAFA'"
        [titleColor]="'#FAFAFA'"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <h3>.NET</h3>
        <circle-progress
        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="0"
        [outerStrokeColor]="'#A9D0F5'"
        [innerStrokeColor]="'#A9F5F2'"
        [animation]="true"
        [animationDuration]="300"
        [responsive]="true"
        [startFromZero]="true"
        [showTitle]="true"
        [showBackground]="true"
        [unitsColor]="'#FAFAFA'"
        [titleColor]="'#FAFAFA'"
        ></circle-progress>
    </div>
</div>