<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="https://randomuser.me/api/portraits/women/63.jpg" class="img-fluid">
        <h3 id="nombre">Dianne Price</h3>
        <p id="profesion">Full stack developer Jr</p>
    </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec nunc mauris. Ut ac dolor dui. Donec sit amet tellus id tellus mattis gravida eu eu purus. Aliquam congue varius diam non blandit. Fusce efficitur orci in gravida hendrerit.</p>
        </span>
    </div>
</div>
