<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="https://randomuser.me/api/portraits/women/63.jpg" id="fotodeperfil" class="img-fluid">
        <h3>Dianne Price</h3>
        <p>Full stack developer Jr</p>
    </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2 id="mi">Sobre mí :</h2>
            <p>Programadora con más de dos años de experiencia generando código para empresas del sector bancario. Creé un nuevo portal web, el cual recibe más de 1 millón de visitas al día.</p>
            <p>Los errores reportados en los micrositios del mis últimos empleos se redujeron en un 20% y la retención de usuarios incrementó en un 10%. Especialista en solución de problemas y trabajo en equipo.</p>
        </span>
    </div>
</div>
