.row {
    padding: 20px;
    color: aliceblue;
}
/*estilo div acerca-de*/
div {
    padding: 20px;
    background-color: #2e2f35;
    text-align: center;
}
#mi {
    font-weight: bold;
}
/*estilo foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position: relative;
        width: 40%;
        border-radius: 100%;
    }    
}
@media (max-width: 576px){
    #fotodeperfil{
        position: relative;
        width: 40%;
        border-radius: 100%;
    }    
}
